.carousel {
  width: 100%;
  margin: 1rem 0;
}
.carousel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.header--title {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.header--more {
}
.carousel__nav {
  overflow: hidden;
}

.nav--wrapper {
  display: flex;
  /* overflow-x: auto; */
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overscroll-behavior: auto;
}
