.carousel {
  width: 100%;
  margin-bottom: 2rem;
}
.carousel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.header--title {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.header--more {
}
.carousel__nav {
  overflow: hidden;
}

.nav--wrapper {
  display: flex;
}
