.carousel {
  width: 100%;
  margin: 1rem 0;
}
.carousel__header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .header_mobile_v {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.header_control {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header_carousel_control {
  display: flex;
  gap: 0.5rem;
}
.btn-control {
  width: 2.5rem;
  height: 2.5rem;
}
.header--title {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.header--more {
}
.carousel__nav {
  overflow: hidden;
}
.slick-slide {
  padding: 0 10px;
  box-sizing: border-box;
}
@media (max-width: 640px) {
  .header_control {
    justify-content: space-between;
  }
  .header_carousel_control {
    display: none;
  }
}
