.main_footer {
  width: 100%;
  background-color: var(--section-background);
  border-top: 1px solid var(--border-section);
  text-transform: capitalize;
}
.footer_wrapper {
  margin: 0 1rem;
}
.footer_content {
  display: flex;
  padding: 1rem 0;
}
.footer_content div {
  flex: 1;
}
.footer_list {
  display: flex;
  gap: 10px;
}
.footer_email {
  font-size: 0.9rem;
}
.line_footer {
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--border-secondary-dark);
}
.footer_copyright {
  text-align: center;
  padding: 1rem 0;
}
.footer_copyright p {
  font-size: 0.9rem;
  color: var(--muted-text);
}
