a {
  text-decoration: none;
}
.btn {
  border: none;
  cursor: pointer;
}
.btn-base {
  background-color: var(--base-btn-background);
  border-radius: 6px;
  border: 1px solid;
  border-color: var(--border-section);
  padding: 0.5rem 0.7rem;
  box-shadow: 0px 0px 0px 0px white;
  transition: all 0.2s ease;
  cursor: pointer;
}
.btn-base:focus-visible {
  box-shadow: 0px 0px 0px 2px white;
}
.btn-base:hover {
  border-color: var(--base-btn-border-hover);
  background-color: var(--base-btn-background-hover);
}
.btn-header {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
}
.btn-primary {
  border-radius: 0.3rem;
  height: 40px;
  padding: 0 0.8rem;
  background-color: var(--section-background);
  color: var(--text);
  font-weight: 500;
  font-weight: 1.1rem;
}
.btn-secondary {
  background-color: var(--background-light);
  color: var(--text-black);
}
.trend-badge {
  display: inline-block;
  color: black;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: capitalize;
  background-color: white;
  border-radius: 999px;
  padding: 0.3rem 0.5rem;
  margin-bottom: 0.5rem;
}
