.drawer_container {
  position: fixed;
  inset: 0;
  background-color: #00000096;
}
.drawer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 92vh;
  background-color: var(--background-dark);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2327272a' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  border-top: 1px solid var(--border-secondary-dark);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 1.5rem 1.5rem 0 0;
}
.drawer_item {
  position: relative;
}
.test {
  position: absolute;
  bottom: -70%;
  left: 10%;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}
.item_poster {
  width: 200px;
  aspect-ratio: 2 /3;
  border: 1px solid var(--border-secondary-dark);
  border-radius: 0.6rem;
  overflow: hidden;
  flex-shrink: 0;
}
.item_poster img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item_backdrop {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
}
.item_backdrop::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(9, 9, 11, 0) 0%,
    rgba(9, 9, 11, 0.4) 40%,
    rgba(9, 9, 11, 0.74) 73%,
    rgba(9, 9, 11, 1) 100%
  );
}
.drawer_item::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 25px;
  z-index: 100;
  background: #09090b;
  background: linear-gradient(
    0deg,
    rgba(9, 9, 11, 0) 0%,
    rgba(9, 9, 11, 0.4) 40%,
    rgba(9, 9, 11, 0.74) 73%,
    rgba(9, 9, 11, 1) 100%
  );
}
.item_backdrop img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.item_info {
  width: 100%;
  position: relative;
  margin-bottom: 3.5rem;
  text-align: center;
}
.item_info div {
  margin-top: 5px;
}
.item_info .info_title {
  font-size: 2rem;
  font-weight: 700;
}
.item_info .info_release,
.item_info .info_rate {
  background-color: white;
  color: black;
  display: inline-block;
}
.info_group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.item_description {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  padding-top: 2.5rem;
  width: 100%;
  max-width: 650px;
}
.description {
  color: var(--muted-text);
}
.drawer_info {
  width: 100%;
  margin-top: 22rem;
  padding: 0 10%;
}
.tab_view {
  margin: 1.5rem 0;
  width: 100%;
}

.top__detail {
}
.detail--img {
  width: 100%;
  position: sticky;
  top: 0;
}
.detail--img img {
  width: 100%;
  max-height: 300px;
  min-height: 240px;
  display: block;
  overflow: hidden;
  object-fit: cover;
}
.detail--shadow {
  position: absolute;
  inset: 0;
  box-shadow: inset 0px -44px 14px -11px var(--background-dark);
}
.drawer_close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.4rem !important;
}
.detail__card {
  text-align: left;
  display: flex;
  gap: 1rem;
}
.scroll_detial {
  background-color: var(--background-dark);
  position: relative;
}
.scroll_detial::after {
  content: "";
  width: 100%;
  height: 2rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background-color: var(--background-dark);
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}
.card--info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}
.info--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}
.info--item .item--rate {
  background-color: white;
  color: black;
  font-weight: 700;
  display: inline-block;
}
.genere_container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.info--item .genere {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.generes div {
  background-color: var(--item-background-dark);
}
.card--img {
  width: 130px;
  aspect-ratio: 2 /3;
}
.card--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card--title {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.9rem;
}
.release_director {
  font-size: 0.9rem;
}
.drawer_wrapper {
  padding: 0 1rem;
}
.tagline {
  font-size: 1.2rem;
  font-weight: 500;
}
.item--descreption {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}
.readMore_btn {
  color: var(--muted-text);
  cursor: pointer;
}
.nav_data {
  font-size: 0.8rem;
  font-weight: 700;
  height: fit-content;
  padding: 0.3rem 0.6rem;
  border-radius: 999px;
  white-space: nowrap;
}
.info--release {
  background-color: white;
  color: black;
  display: inline-block;
}
.item_tablist {
  background-color: var(--item-background-dark);
  padding: 0.3rem;
  border-radius: 0.3rem;
  display: inline-flex;
  gap: 0.2rem;
}
.item_tablist a {
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 0.2rem;
  display: block;
  font-size: 0.9rem;
}
.item_tablist a[data-active="true"] {
  background-color: var(--background-dark);
}
.overview_details {
  width: 100%;
  border: 1px solid var(--border-secondary-dark);
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
  overflow: hidden;
}
.details_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.detail--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 25%;
  min-width: 150px;
  row-gap: 0.5rem;
  padding: 0.5rem;
  position: relative;
}
.detail--item p {
  text-align: center;
}

.detail--item .detail--subitem {
  font-size: 0.9rem;
  color: var(--muted-text);
}
.detail--item .detail--name {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* ----------------------------------------------------- */

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .item_poster {
    width: 250px;
  }
  .test {
    flex-direction: row;
    bottom: -40%;
  }
  .item_info .info_title {
    font-size: 2.5rem;
  }
  .item_info {
    text-align: start;
    padding-left: 2rem;
  }
  .info_group {
    justify-content: flex-start;
  }
  .drawer_info {
    margin-top: 12rem;
  }
}

@media (min-width: 1024px) {
  /* Small laptops */
}

@media (min-width: 1280px) {
  /* Desktops */
}

@media (min-width: 1536px) {
  /* Large screens */
}
